.col-md-3
.col-md-6
  .panel.panel-info
    .panel-heading
      %h4= t 'session.sign_up'
  .panel-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-vertical'}) do |f|
      = f.error_notification
      .form-inputs
        = f.input :nickname, required: true, autofocus: true, :label => (t 'simple_form.nickname')
        = f.input :password, :label => (t 'simple_form.password'), required: true, hint: ("#{@minimum_password_length} #{t 'simple_form.chars_min'}" if @validatable)
        = f.input :password_confirmation, required: true, :label => (t 'simple_form.conf_pass')
      .form-actions
        = f.button :submit, (t 'session.sign_up'), :class => 'btn btn-primary'
    = render 'devise/shared/links'