.comment
  - if comment
    %div
      = comment.content
    %div{:class => "#{comment.class}-#{comment.id}"}
      = render 'shared/like_form', likeable: comment
      .likes= pluralize(comment.likers(User).count, I18n.t('posts.like'))