.col-md-3
.col-md-6
  .panel.panel-info
    .panel-heading
      %h4
        = t 'devise_links.forgot_password'
        \&gt;
  .panel-body
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'form-vertical'}) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true, :label => (t 'simple_form.email')
      .form-actions
        = f.button :submit, (t 'simple_form.send_reset_instruct'), :class => 'btn btn-primary'
    = render 'devise/shared/links'
