.text-vertical-center
  %br
  %br
  %h1 Anonynet
  %br
  %h2
    = t 'feel_free'
  -#%h2
    = t 'feel_free_2'
  %br
  -#%h3
    = t 'feel_free_3'
  %br
  -#%h4
    = t 'feel_free_4'
  -#%h4
    = t 'feel_free_5'
  %br
    -#%h3
      = t 'feel_free_6'
    %br
    = link_to I18n.t('feel_free_7'), posts_path, class: 'btn btn-dark btn-lg'
      -#%p.bottom-right
    = link_to I18n.t('photo_originally_uploaded'), 'https://www.flickr.com/photos/whitneylynn/'