.col-md-3
.col-md-6
  .panel.panel-info
    .panel-heading
      %h4= t 'contact_form'
  .panel-body
    = simple_form_for @contact, :html => {:class => 'form-horizontal'} do |f|
      .form-inputs
        = f.input :name, :required => false, :label => (t 'simple_form.name')
        = f.input :surname, :required => false, :label => (t 'simple_form.surname')
        - if current_user
          = f.input :nickname, :required => false, :label => (t 'simple_form.nickname'), :input_html => { :value => current_user[:nickname] }
        = f.input :email, :required => false, :label => (t 'simple_form.email')
        = f.input :category, :label => (t 'simple_form.category'), :collection => (t 'simple_form.categories').values, :selected => [0], :required => true
        = f.input :message, :as => :text, :input_html => {:rows => 10}, :label => (t 'simple_form.message'), :required => true
        .form-actions
          = f.button :submit, (t 'send_message'), :class => 'btn btn-primary'