= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= t 'date.errors.template.header.one', count: pluralize(@post.errors.count, 'error'), model: (t 'activerecord.attributes.post.post_name').downcase
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label t('posts.content')
    = f.text_area :content
  .field
    = f.file_field :image_content
  .actions
    = f.submit t('posts.share')