= form_for @post, remote: :true do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= t 'date.errors.template.header.one', count: pluralize(@post.errors.count, 'error'), model: (t 'activerecord.attributes.post.post_name').downcase
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag(:category, params[:category])
  .form-control
    = f.text_area :content, :id => 'submit-new-post', :size => '140x2', placeholder: t('posts.content')
  .field#attachment_field
    = f.attachment_field :image_content, direct: true, class: 'filestyle', 'data-buttonName': 'btn-primary', 'data-iconName': 'glyphicon-inbox', 'data-buttonBefore': 'true', 'data-buttonText': I18n.t('posts.upload_file')
  .actions#submit-post
    = f.submit t('posts.share'), class: 'btn btn-primary'