.post{id: post.id}
  - if current_user and post.user_id == current_user.id
    = link_to 'destroy', post, method: :delete
  .content
    =post.content_html
  - if post.image_content.exists?
    =image_tag(post.image_content, :class => 'img-rounded img-responsive', :width => 400, :height => 400)
  %div{class: "#{post.class}-#{post.id}"}
    =render 'shared/like_form', likeable: post
    .comments{id: "link_to-#{post.id}"}
      =pluralize(post.comments.count, I18n.t('posts.comment'))
    .likes
      =pluralize(post.likers(User).count, I18n.t('posts.like'))
  %div{id: "link-show-#{post.id}"}
    =link_to (t('posts.show_comments')), show_comments_path(id: post.id), remote: true, data: {id: post.id}