= render 'posts/categories'

%br

- if current_user and !current_user.banned and !current_user.admin
  = render 'form'
- elsif current_user and current_user.banned
  %p.label.label-info
    = I18n.t('ban_info')
- elsif current_user.try(:admin?)
  %p.label.label-info
    = I18n.t('admin_welcome')
    = link_to I18n.t('admin_panel_ign'), rails_admin_path
- else
  %p.label.label-info
    = t('not_logged_in')
  = render 'form'

#masonry.endless-page
  = render @posts
  %ul.pagination
    %li
      = link_to_next_page @posts, t('posts.more_posts'), remote: true, params: { category: params[:category] }