= render 'posts/categories'

%br

- if current_user and !current_user.banned and !current_user.admin
  = render 'form'
- elsif current_user and current_user.banned
  %p Zostałeś zbanowany. Skontaktuj się z adminem. nie mozesz sie socjalizować, twoje posty i komentarze nie sa widoczne
- elsif current_user.try(:admin?)
  %p Witam Panie Adminie. Przejdź do swojego #{link_to 'panelu administratora', rails_admin_path}
- else
  %p nie jesteś zalogowany. możesz postować, ale brak socjalizacji i ludzie mogą to filtrować
  = render 'form'

#masonry.endless-page
  = render @posts
  %ul.pagination
    %li
      = link_to_next_page @posts, t('posts.more_posts'), remote: true, params: { category: params[:category] }