- if current_user and !current_user.banned and !current_user.admin
  = render 'form'
- elsif current_user and current_user.banned
  %p Zostałeś zbanowany. Skontaktuj się z adminem. nie mozesz sie socjalizować, twoich postów nie ma widocznych
- elsif current_user.try(:admin?)
  %p Witam Panie Adminie. Przejdź do swojego #{link_to 'panelu administratora', rails_admin_path}
- else
  %p nie jesteś zalogowany. możesz postować, ale brak socjalizacji i ludzie mogą to filtrować
  = render 'form'

#masonry
  = render(@posts)

#infinite-scrolling
  = paginate @posts, :theme => 'twitter-bootstrap-3'