%p#notice= notice
%p
  = @post.content_html
- if @post.image_content_id
  =image_tag attachment_url(@post, :image_content, :fill, 300, 300)
%div{:class => "#{@post.class}-#{@post.id}"}
  = render 'shared/like_form', likeable: @post
  = link_to pluralize(@comments.count, I18n.t('posts.comment')), @post, class: 'comments'
  .likes= pluralize(@post.likers(User).count, I18n.t('posts.like'))
= render 'shared/form' if current_user
= render @comments