= render 'posts/categories'

- if current_user and current_user.banned
  %p.label.label-info
    = I18n.t('ban_info')
- elsif current_user.try(:admin?)
  %p.label.label-info
    = I18n.t('admin_welcome')
    = link_to I18n.t('admin_panel_ign'), rails_admin_path
- else
  %p.label.label-info
    = t('not_logged_in')

= render @post