%p#notice= notice
%p
  = @post.content_html
= image_tag @post.image_content.url if @post.image_content.exists?
%div{:class => "#{@post.class}-#{@post.id}"}
  = render 'shared/like_form', likeable: @post
  = link_to pluralize(@comments.count, I18n.t('posts.comment')), @post, class: 'comments'
  .likes= pluralize(@post.likers(User).count, I18n.t('posts.like'))
= render 'shared/form' if current_user
= render @comments