%p
  = (t 'hello') + ' ' + @resource.email
  \!
%p= t 'reset_request'
%p= link_to (t 'change_my_pass'), edit_password_url(@resource, reset_password_token: @token)
%p= t 'did_not_request_reset_link'
%p= t 'no_pass_change'
