!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    %title= content_for?(:title) ? yield(:title) : 'Anonynet'
    %meta{content: "#{content_for?(:description) ? yield(:description) : 'Anonynet'}", name: 'description'}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = growlyflash_static_notices
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    #main-container.container
      .row
        #content.col-md-14
          %main{role: 'main'}
            -#= render 'layouts/messages' # growlyflash handles this
            = yield
    %footer.footer
      .container.inline-block
        %br
        %div.text-muted
          @ 2015 Bartosz Ignaczewski
          = link_to I18n.t('linkedin'), 'https://www.linkedin.com/in/bartoszignaczewski'

          -#%a{:href => "https://nl.linkedin.com/pub/bartosz-ignaczewski/ab/95b/311", :style => "text-decoration:none;"}
          -#  %span{:style => "font: 80% Arial,sans-serif; color:#0783B6;"}
          -#    %img{:alt => "View Bartosz Ignaczewski's LinkedIn profile", :border => "0", :height => "15", :src => "https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png", :style => "vertical-align:middle;", :width => "20"} &nbsp;View Bartosz Ignaczewski's profile